_apex/
.bingo/
.chglog/
.claude/
.github
.vscode/
node_modules/
test-results/
playwright-report/
vendor/
.VSCodeCounter
third_party$
builtin$
examples$
docs/DOC.md
docs/HANDBOOK.md
CHANGELOG-REVIEW.md
CHANGELOG.md
